* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.container-full {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 1px;
  padding: 0 10px;
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
}

.no-padding {
  padding: 0 !important;
}
